@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #5b87ff;
  text-decoration: inherit;

  &.active {
    color: #53d2f2;
    text-decoration: underline;
  }

  &:hover {
    color: #7176d3;
  }
}

.plain-link {
  color: unset;
  text-decoration: unset;

  &:hover {
    color: unset;
  }
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

.side-bar {
  display: none;
}

.theme1 {
  .switch-style {
    background-color: white;
  }
}

.theme2 {
  .switch-style {
    background-color: rgb(0, 0, 0);
  }

  .side-bar {
    display: flex;
    background: red;
    width: 20rem;
    height: calc(100dvh - 4rem);
  }
}

.theme3 {
  .switch-style {
    background-color: rgb(0, 0, 0);
  }
}


.theme1 {
  @apply text-black font-["sans-serif"] font-medium;
}

.theme2 {
  @apply bg-black text-white font-["sans-serif"] font-bold;
}

.theme3 {
  @apply bg-amber-300 text-pink-600 font-["Pacifico"] font-extralight;
}